.carrito{
    display: flex;
    margin: 5px;
}

.navbar{
    display: flex;

}

ul{
    display: flex; 
    
}
li{
    margin: 5px;
    padding: 5px;
    list-style: none;
    border: black solid 1px;
    border-radius: 10px;
}

.cantidad{
    display: flex;
    
}